.box {
    width: 80%;
    background-color: #fff;
    height: fit-content;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }
}
.header {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 2.7rem;
    }
}
.content {
    margin-top: 20px;
}
.text {
    font-size: 1.6rem;
    margin-top: 20px;
}
.row {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.inputWrapper {
    width: 25%;
}
.button {
    margin: 20px 20px;
    font-size: 1.3rem;
}
.sampleSpan {
    color: rgb(96, 96, 255);
    text-decoration: underline;
    cursor: pointer;
}
.result {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(70, 70, 255);
}
.miniBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
}
.image {
    height: 200px;
    display: block;
}
.subTitle {
    font-size: 2.5rem;
    margin-top: 20px;
    color: rgb(109, 109, 255);
    font-weight: bold;
}